:root {
    --cyanblue: #45dbec;
    --wdark: #181c25;
}

@font-face {
    font-family: Vazir;
    src: url('assets/fonts/Vazir.ttf');
}

body,
p,
a,
div,
li,
input,
textarea,
span,
strong,
header,
main,
footer {
    font-family: Vazir !important;
}

header nav a {
    color: white !important;
    background-color: var(--wdark);
    border-radius: 30px;
}

header nav a:hover {
    background-color: var(--cyanblue);
    color: var(--wdark) !important;
}

header .header-bg {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgcolor-wdark {
    background-color: var(--wdark);
}

.bgcolor-bl {
    background-color: var(--cyanblue);
}

.logo-box {
    height: 75px;
    border: 5px solid var(--cyanblue);
    border-radius: 30px;
    display: inline;
    width: 75px !important;
}

.brands i {
    font-size: 54px;
}

.glass-bg {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.416);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}

.bg-ghostwhite {
    background-color: ghostwhite;
}

@media screen and (max-width: 768px) {
    .bg-glass-mobile-dark {
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0 0 5px #ddd;
    }
}